
test.csv.zip
train.csv.zip
train.csv
test.csv
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Expedia_hotel_recommendation-checkpoint.ipynb
.ipynb_checkpoints/Data_Preparation_and_Preprocessing-checkpoint.ipynb
.ipynb_checkpoints/Baseline model-checkpoint.ipynb
.ipynb_checkpoints/Feature_Engineering-checkpoint.ipynb
.ipynb_checkpoints/Kmeans_clustering-checkpoint.ipynb
.ipynb_checkpoints/KNN-checkpoint.ipynb
.ipynb_checkpoints/XGBoost-checkpoint.ipynb
.ipynb_checkpoints/Logistic_regression-checkpoint.ipynb
.ipynb_checkpoints/Naive_bayes-checkpoint.ipynb
.ipynb_checkpoints/LightGBM-checkpoint.ipynb
